.world-cup-page__top-banner img {
  width: 100%; }

.world-cup-page__container__block_content {
  border-radius: 15px;
  height: 100%;
  background-size: 101%;
  background-repeat: no-repeat;
  background-image: url(../images/world-cup/en/BOX.png);
  background-position: center;
  font-size: 18px;
  line-height: 25px; }
  .world-cup-page__container__block_content.event-detail {
    background-image: none;
    position: relative;
    padding-bottom: 50px;
    padding-top: 20px; }
    .world-cup-page__container__block_content.event-detail::before {
      position: absolute;
      left: 0;
      content: "";
      width: 100%;
      height: 50px;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url(../images/world-cup/en/common-border-top.f3155c653ae076c1c651baab081c12eb.webp); }
    .world-cup-page__container__block_content.event-detail::after {
      position: absolute;
      left: 0;
      content: "";
      width: 100%;
      height: 50px;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url(../images/world-cup/en/common-border-bottom.86132a89c2cafb679ad4578bbbb8655a.webp); }
    .world-cup-page__container__block_content.event-detail .event-detail-content {
      background-size: 100%;
      background-repeat: repeat-y;
      background-image: url(../images/world-cup/en/common-border-middle.88ffae16aba74af2bbc9473fc6f103b6.webp);
      padding: 0 30px 30px; }
    .world-cup-page__container__block_content.event-detail .header {
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      margin-top: -5px;
      margin-bottom: 33px; }
  .world-cup-page__container__block_content__title {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/world-cup/en/PINK_LongBAR.png);
    background-position: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 8px 15px;
    display: inline-block; }
  .world-cup-page__container__block_content__table {
    margin-top: 15px; }
    .world-cup-page__container__block_content__table table {
      margin-bottom: 0; }
      .world-cup-page__container__block_content__table table > :not(caption) > * > * {
        padding-top: 10px;
        padding-bottom: 10px; }
      .world-cup-page__container__block_content__table table thead tr th {
        background-image: url(../images/world-cup/en/PINK_BAR.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
        border-right: 3px solid #f2f2f4; }
        .world-cup-page__container__block_content__table table thead tr th:last-child {
          border-right: none; }
      .world-cup-page__container__block_content__table table tbody {
        border-top: none !important; }
        .world-cup-page__container__block_content__table table tbody tr td {
          border-bottom: none; }

.world-cup-page__container .play-now {
  background-size: cover;
  background-repeat: repeat-y;
  background-image: url(../images/world-cup/en/bg_loading_bonus.jpg);
  position: relative;
  border: 3px solid #cf3c66;
  border-radius: 8px;
  min-height: 500px; }
  .world-cup-page__container .play-now > div {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .world-cup-page__container .play-now__ticker_remaining {
    position: absolute;
    left: 30px;
    top: 15px;
    background-image: url(../images/world-cup/en/BAR_Ticket_Remaining.png);
    min-width: 290px;
    min-height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    place-items: center;
    place-content: space-around; }
    .world-cup-page__container .play-now__ticker_remaining .text {
      font-size: 20px;
      font-weight: 400; }
    .world-cup-page__container .play-now__ticker_remaining .number {
      padding-right: 25px;
      font-size: 20px;
      font-weight: 600;
      color: #fff; }
  .world-cup-page__container .play-now__world-cup-logo {
    width: 100px;
    right: 30px;
    top: 15px;
    position: absolute; }
  .world-cup-page__container .play-now__tap-to-play {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase; }
    .world-cup-page__container .play-now__tap-to-play img {
      max-width: 90px; }
      .world-cup-page__container .play-now__tap-to-play img:hover {
        opacity: 0.8; }

.world-cup-page__container__how-to-play-img {
  width: 100%;
  border: 3px solid #cf3c66;
  border-radius: 15px; }

.world-cup-page__container__how-to-play-btn {
  margin: auto;
  margin-top: 15px;
  background-image: url(../images/world-cup/en/Bontton.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent !important;
  border: none;
  border-radius: 8px;
  min-height: 50px;
  min-width: 200px;
  text-transform: uppercase; }
  .world-cup-page__container__how-to-play-btn:hover {
    opacity: 0.7; }
