<div class="block-content text-center">
  <div class="play-now">
    <img src="assets/images/new-year/event-game.png" />
  </div>
  <!-- <img class="event-page__container__how-to-play-img" src="assets/images/how-to-play.png" /> -->
  <button data-bs-toggle="modal" data-bs-target="#howToPlayModal" class="btn btn-primary event-page__container__how-to-play-btn" data-i18n="event_page.how_to_play"></button>
</div>
<div class="row">
  <div class="col-lg-6 col-12 mb-4">
    <div class="block-content text-center">
      <div class="event-page__container__block_content">
        <span class="event-page__container__block_content__title" data-i18n="event_page.YOUR_PRIZE_HISTORY"></span>
        <div class="event-page__container__block_content__table table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th width="50%" data-i18n="event_page.Date"></th>
                <th width="50%" data-i18n="event_page.Realbet"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>15/7/2022</td>
                <td>SGD 5,000</td>
              </tr>
              <tr>
                <td>15/7/2022</td>
                <td>SGD 5,000</td>
              </tr>
              <tr>
                <td>15/7/2022</td>
                <td>SGD 5,000</td>
              </tr>
              <tr>
                <td>15/7/2022</td>
                <td>SGD 5,000</td>
              </tr>
              <tr>
                <td>15/7/2022</td>
                <td>SGD 5,000</td>
              </tr>
              <tr>
                <td>15/7/2022</td>
                <td>SGD 5,000</td>
              </tr>
              <tr>
                <td>15/7/2022</td>
                <td>SGD 5,000</td>
              </tr>
              <tr>
                <td>15/7/2022</td>
                <td>SGD 5,000</td>
              </tr>
              <tr>
                <td>15/7/2022</td>
                <td>SGD 5,000</td>
              </tr>
              <tr>
                <td>15/7/2022</td>
                <td>SGD 5,000</td>
              </tr>
            </tbody>
          </table>
          <div class="px-4">
            <a href="#" class="table-footer">
              <span data-i18n="event_page.next"></span>
              <img src="assets/icons/right.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12 mb-4">
    <div class="block-content text">
      <div class="event-page__container__block_content p-4 pb-0">
        <h3 data-i18n="event_page.title"></h3>
        <p data-i18n="event_page.description"></p>
        <div class="title" data-i18n="event_page.How_to_Claim"></div>
        <p data-i18n="event_page.How_to_Claim__description"></p>
        <div class="title" data-i18n="event_page.Rules"></div>
        <p data-i18n="event_page.Rules__description1"></p>
        <p data-i18n="event_page.Rules__description2"></p>
        <p data-i18n="event_page.Rules__description3"></p>
        <p data-i18n="event_page.Rules__description4"></p>
        <p data-i18n="event_page.Rules__description5"></p>
        <p data-i18n="event_page.Rules__description6"></p>
        <p data-i18n="event_page.Rules__description7"></p>
        <p data-i18n="event_page.Rules__description8"></p>
        <p data-i18n="event_page.Rules__description9"></p>
      </div>
    </div>
  </div>
</div>

<!-- how to play modal -->
@@include('./how-to-play-modal.html')
<!-- how to play modal -->
