<div class="block-content" data-i18n="world_up_page.REALBET_BONUS_banner"></div>
          
<div class="block-content">
  <div class="world-cup-page__container__block_content event-detail">
    <div class="header">
      <span data-i18n="world_up_page.Term_Conditions"></span>
    </div>
    <div class="event-detail-content">
      <div class="row">
        <div class="col-lg-6 col-12 mb-4">
          <a href="#">
            <div data-i18n="world_up_page.Term_Conditions__top_img1"></div>
          </a>
        </div>
        <div class="col-lg-6 col-12 mb-4">
          <a href="#" data-i18n="world_up_page.Term_Conditions__top_img2"></a>
        </div>
      </div>
      <div class="event-detail-content__header" data-i18n="world_up_page.Term_Conditions__title"></div>
      <div class="event-detail-content__item">
        <div class="event-detail-content__item__title" data-i18n="world_up_page.Term_Conditions__item__title1"></div>
        <div class="event-detail-content__item__content" data-i18n="world_up_page.Term_Conditions__item__content1"></div>
      </div>
      <div class="event-detail-content__item">
        <div class="event-detail-content__item__title" data-i18n="world_up_page.Term_Conditions__item__title2"></div>
        <div class="event-detail-content__item__content" data-i18n="world_up_page.Term_Conditions__item__content2"></div>
      </div>
      <div class="event-detail-content__item">
        <!-- <div class="event-detail-content__item__title" data-i18n="world_up_page.Term_Conditions__item__title3"></div> -->
        <div class="event-detail-content__item__content" data-i18n="world_up_page.Term_Conditions__item__content3"></div>
      </div>

      <div class="world-cup-page__container__block_content__table event-detail-content__table table-responsive text-center">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th data-i18n="world_up_page.PLATFORM"></th>
              <th data-i18n="world_up_page.REALBET_AMOUNT"></th>
              <th data-i18n="world_up_page.WEEKLY_REALBET_BONUS"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-i18n="world_up_page.SPORTS_ESPORTS"></td>
              <td>MYR50,000</td>
              <td>MYR499</td>
            </tr>
            <tr>
              <td data-i18n="world_up_page.SPORTS_ESPORTS"></td>
              <td>MYR150,000</td>
              <td>MYR1,399</td>
            </tr>
            <tr>
              <td data-i18n="world_up_page.SPORTS_ESPORTS"></td>
              <td>MYR300,000</td>
              <td>MYR2,699</td>
            </tr>
            <tr>
              <td data-i18n="world_up_page.SPORTS_ESPORTS"></td>
              <td>MYR500,000</td>
              <td>MYR4,999</td>
            </tr>
          </tbody>
        </table>
      </div>

      <ul class="event-detail-content__description">
        <li data-i18n="world_up_page.Term_Conditions__description1"></li>
        <li data-i18n="world_up_page.Term_Conditions__description2"></li>
        <li data-i18n="world_up_page.Term_Conditions__description3"></li>
        <li data-i18n="world_up_page.Term_Conditions__description4"></li>
        <li data-i18n="world_up_page.Term_Conditions__description5"></li>
        <li data-i18n="world_up_page.Term_Conditions__description6"></li>
        <li data-i18n="world_up_page.Term_Conditions__description7"></li>
        <li data-i18n="world_up_page.Term_Conditions__description8"></li>
        <li data-i18n="world_up_page.Term_Conditions__description9"></li>
      </ul>
      
    </div>
  </div>
</div>